<a href="https://colab.research.google.com/github/Swastik02aug/almabetter-EDA-project/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

In [1]:
#importing all required library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#mounting the google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
# initialising path for file
file_path_1='/content/drive/MyDrive/EDA PROJECT/Play Store Data.csv'
file_path_2='/content/drive/MyDrive/EDA PROJECT/User Reviews.csv'

In [32]:
#reading csv files
psd=pd.read_csv(file_path_1)
ur=pd.read_csv(file_path_2)

In [15]:
# here we get the data type of psd data frame
type(psd)

pandas.core.frame.DataFrame

In [33]:
# here we get the data type in in each columns
a=psd.dtypes

In [34]:
# here we find no. of unique values in columns
b=psd.nunique()

In [35]:
#  here we finding the null places in each column
c=psd.isnull().sum()

In [37]:
'''                                              here we cleaning data,null value by some specifics values                        '''


# on the basis of above data now we can clean the data

# as from data there are only one missing data in type so we replace the misssing place with free
psd['Type'].fillna("Free", inplace = True)

#in content rating there is one  missing place, we can't replce  the any other random value so its beneficial for us to drop the this row
psd.dropna(subset = ['Content Rating'], inplace=True)
# there are some columns also,whose requiement is also not reqiured for data analysis so it is better to drop that columns
psd.drop(['Last Updated'], axis=1, inplace=True)
# there are also null value in current and android version
psd['Current Ver'] =psd['Current Ver'].replace({np.nan:'not available'})
psd['Android Ver'] =psd['Android Ver'].replace({np.nan:'not available'})
psd['Rating'] =psd['Rating'].replace({np.nan:0})

In [38]:
# here we checking the psd data columns whose contains only int values or float values
psd.describe()

             Rating
count  10840.000000
mean       3.621771
std        1.514563
min        0.000000
25%        3.700000
50%        4.200000
75%        4.500000
max        5.000000

In [39]:
# again we check data for null values and hence there all cleaning of dat is done 
psd.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Current Ver       0
Android Ver       0
dtype: int64

In [40]:
#by using function '.head()' we display the first five rows with all columns
psd.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,1.1,4.4 and up

In [41]:
#by using function '.tail()' we display the last five rows with all columns
psd.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,0.0,3,9.5M,"1,000+",Free,0,Everyone,Medical,1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,Varies with device,Varies with device

In [42]:
# '.columns' is use to give all name in a list
psd.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Current Ver', 'Android Ver'],
      dtype='object')

In [43]:
#'.shape' is used to give information about numbers of rows and columns as (rows,columns)
psd.shape

(10840, 12)

In [52]:
# Now we covert the data types a/c to its requirement(Rating	Reviews 	Size  Installs  Price)
psd['Reviews']=psd.Reviews.astype(int)
a

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

  QUESTION.1:Find the maximum rating and top rated apps in each category ?

---

In [ ]:
#code

QUESTION.2:Categorise the apps b/w paid and free apps?

In [ ]:
#code

QUESTION.3:Categorise the apps on the basis of their sizes?

In [ ]:
#code

QUESTION.4:Find the over all top rated app on play store with maxmum revives?

In [ ]:
#code

QUESTION.5:Categorise the app on the basis of content rating and numbers of installations?

In [ ]:
#code

QUESTION.6:Print top 5 in each genere categories with Last Updated,	Current Ver,	Android Ver?

In [ ]:
#code

In [10]:
# user revives top 5 rows
ur.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [11]:
# user revives data frame size
ur.shape

(64295, 5)

QUESTION.7:Find the top all app with sentiment polarity 1 ?

In [ ]:
#code

QUESTION.8:Find all the with positive sentiment?

In [ ]:
#code

QUESTION.9:Categorised the app on the basis of Sentiment_Subjectivity?

In [ ]:
#code